@import '../TextFieldUi/TextFieldUi.mixin';
@import '../TextFieldUi//theme';

@mixin rex-text-field-helper() {
  @include rex-text-field-native-state();
  &:hover,
  &.hover {
    @include rex-text-field-native-hover-state();
  }
}

@mixin rex-text-field-native-state {
  small {
    padding-left: 0.75rem;
    margin-top: 0.5rem;
  }
}

@mixin rex-text-field-native-hover-state {
  &:not(.disabled) {
    > div {
      &:not(.disabled):not(.active):not(.error):not(.valid) {
        border-color: var(
          --rex-text-field-theme-hover-border,
          $--rex-text-field-theme-hover-border
        );
        input {
          color: var(
            --rex-text-field-theme-hover-text,
            $--rex-text-field-theme-hover-text
          );
          @include placeholder {
            color: var(
              --rex-text-field-theme-hover-placeholder,
              $--rex-text-field-theme-hover-placeholder
            );
          }
        }
      }
    }
    small {
      &:not(.disabled):not(.active):not(.error):not(.valid) {
        color: var(
          --rex-text-field-helper-theme-hover-text,
          $--rex-text-field-helper-theme-hover-text
        );
        &.focus {
          color: var(
            --rex-text-field-helper-theme-active-text,
            $--rex-text-field-helper-theme-active-text
          );
        }
      }
    }
  }
}
