@import '../TextFieldUi/TextFieldUi.mixin';
@import './theme';

@mixin rex-text-field-label() {
  @include rex-text-field-native-default-state();

  &:hover,
  &.hover {
    @include rex-text-field-native-hover-state();
    @include rex-label-ui-hover-state();
  }
}

@mixin rex-text-field-native-default-state {
  input {
    border-color: transparent;
    @include placeholder {
      color: var(--rex-text-field-theme-placeholder, $--rex-text-field-theme-placeholder);
    }
  }
}

@mixin rex-text-field-native-hover-state {
  input {
    color: var(--rex-text-field-theme-hover-text, $--rex-text-field-theme-hover-text);
    @include placeholder {
      color: var(--rex-text-field-theme-hover-placeholder, $--rex-text-field-theme-hover-placeholder);
    }
  }
  > div > div {
    border-color: var(--rex-text-field-theme-hover-border, $--rex-text-field-theme-hover-border);
    background-color: var(--rex-text-field-theme-hover-border, $--rex-text-field-theme-hover-border);
    input {
      border-color: var(--rex-text-field-theme-hover-border, $--rex-text-field-theme-hover-border);
    }
  }
}

@mixin rex-label-ui-hover-state {
  label {
    color: var(--rex-text-field-label-theme-hover-text, $--rex-text-field-label-theme-hover-text);
  }
}