@import "./core.mixin";
@import '../TextFieldUi/theme';

@mixin rex-text-field-ui {
  @include rex-core();
  @include rex-text-field-border-state();
  &.hover {
    @include rex-text-field-border-hover-state();
  }
  &:active,
  &.active,
  &:focus,
  &.focus {
    @include rex-text-field-border-active-state();
  }
  &[disabled],
  &.disabled {
    @include rex-text-field-border-disabled-state();
  }
  &.error {
    @include rex-text-field-border-error-state();
  }
  &.valid {
    @include rex-text-field-border-valid-state();
  }
  > div {
    @include rex-text-field-inner-border-state();
    &.active {
      @include rex-text-field-inner-border-active-state();
    }
    input {
      @include rex-text-field-native-state();
      &:active,
      &.active,
      &:focus,
      &.focus {
        @include rex-text-field-native-active-state();
      }
      &[disabled],
      &.disabled {
        @include rex-text-field-native-disabled-state();
      }
      &.error {
        @include rex-text-field-native-error-state();
      }
      &.valid {
        @include rex-text-field-native-valid-state();
      }
    }
    svg {
      padding-bottom: .1875rem;
    }
  }
}

@mixin rex-text-field-native-state {
  @include rex-text-field-native-default-state();
  width: 100%;
  line-height: 1.5;
  color: var(--rex-text-field-theme-text, $--rex-text-field-theme-text);
  background-clip: padding-box;
  transition: color 0.15s ease-in-out;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 1rem 0 0;
}

@mixin rex-text-field-native-default-state {
  @include placeholder {
    color: var(--rex-text-field-theme-placeholder, $--rex-text-field-theme-placeholder);
    transition: color 0.15s ease-in-out;
  }
}

@mixin rex-text-field-native-disabled-state {
  color: var(--rex-text-field-theme-disabled-text, $--rex-text-field-theme-disabled-text);
  @include placeholder {
    color: var(--rex-text-field-theme-disabled-placeholder, $--rex-text-field-theme-disabled-placeholder)
  }
}

@mixin rex-text-field-native-active-state {
  &:not([disabled]):not(.error):not(.valid) {
    color: var(--rex-text-field-theme-active-text, $--rex-text-field-theme-active-text);
    @include placeholder {
      color: var(--rex-text-field-theme-active-placeholder, $--rex-text-field-theme-active-placeholder);
    }
  }
}

@mixin rex-text-field-native-error-state {
  &:not([disabled]) {
    color: var(--rex-text-field-theme-error-text, $--rex-text-field-theme-error-text);
    @include placeholder {
      color: var(--rex-text-field-theme-error-placeholder, $--rex-text-field-theme-error-placeholder);
    }
  }
}

@mixin rex-text-field-native-valid-state {
  &:not([disabled]) {
    color: var(--rex-text-field-theme-valid-text, $--rex-text-field-theme-valid-text);
    @include placeholder {
      color: var(--rex-text-field-theme-valid-placeholder, $--rex-text-field-theme-valid-placeholder);
    }
  }
}

@mixin rex-text-field-inner-border-state {
  display: flex;
  align-items: flex-end;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: .375rem 0.625rem;
  background-color: $--rex-white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@mixin rex-text-field-inner-border-active-state {
  &:not(.error):not(.valid) {
    border: 1px solid var(--rex-text-field-theme-active-border, $--rex-text-field-theme-active-border);
  }
}

@mixin rex-text-field-border-state {
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  border: 1px solid var(--rex-text-field-theme-border, $--rex-text-field-theme-border);
  border-radius: 0.32rem;
  padding: 0;
  background-color: $--rex-white;
}

@mixin rex-text-field-border-hover-state {
  border-color: var(--rex-text-field-theme-hover-border, $--rex-text-field-theme-hover-border);
  input {
    @include placeholder {
      color: var(--rex-text-field-theme-hover-placeholder, $--rex-text-field-theme-hover-placeholder);
    }
  }
}

@mixin rex-text-field-border-disabled-state {
  border-color: var(--rex-text-field-theme-disabled-border, $--rex-text-field-theme-disabled-border);
}

@mixin rex-text-field-border-active-state {
  &:not([disabled]):not(.error):not(.valid) {
    outline: none;
    border-color: var(--rex-text-field-theme-active-border, $--rex-text-field-theme-active-border);
    background-color: var(--rex-text-field-theme-active-border, $--rex-text-field-theme-active-border);
  }
}

@mixin rex-text-field-border-error-state {
  &:not([disabled]) {
    border-color: var(--rex-text-field-theme-error-border, $--rex-text-field-theme-error-border);
  }
}

@mixin rex-text-field-border-valid-state {
  &:not([disabled]) {
    border-color: var(--rex-text-field-theme-valid-border, $--rex-text-field-theme-valid-border);
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }
  @include optional-at-root(":-moz-placeholder") {
    @content;
  }
  @include optional-at-root("::-moz-placeholder") {
    @content;
  }
  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}
