@import './core.mixin';
@import '../TextFieldUi/theme';

@mixin rex-text-field-label-ui {
  @include rex-core();
  @include rex-label-ui-content();
}

@mixin rex-label-ui-content {
  font-size: .75rem;
  display: block;
  color: var(--rex-text-field-label-theme-text, $--rex-text-field-label-theme-text);
  padding-left: .75rem;
  margin-bottom: .25rem;
  transition: color 0.15s ease-in-out;
  &.error {
    @include rex-label-ui-error-state();
  }
  &.valid {
    @include rex-label-ui-valid-state();
  }
  &:active,
  &.active {
    @include rex-label-ui-active-state();
  }
  &:focus,
  &.focus {
    @include rex-label-ui-focus-style();
  }
  &[disabled],
  &.disabled {
    @include rex-label-ui-disabled-state();
  }
}

@mixin rex-label-ui-disabled-state {
  color: var(--rex-text-field-label-theme-disabled-text, $--rex-text-field-label-theme-disabled-text);
}

@mixin rex-label-ui-error-state {
  color: var(--rex-text-field-label-theme-error-text, $--rex-text-field-label-theme-error-text);
}

@mixin rex-label-ui-valid-state {
  color: var(--rex-text-field-label-theme-valid-text, $--rex-text-field-label-theme-valid-text);
}

@mixin rex-label-ui-active-state {
  &:not([disabled]):not(.error):not(.valid) {
    color: var(--rex-text-field-label-theme-active-text, $--rex-text-field-label-theme-active-text);
  }
}

@mixin rex-label-ui-focus-style {
  outline: none;
}