@import './core.mixin';
@import '../TextFieldLabel/theme';

@mixin rex-label-ui {
  @include rex-core();
  @include rex-label-ui-content();
}

@mixin rex-label-ui-content {
  font-size: .75rem;
  display: block;
  color: var(--rex-text-field-label-theme-text, $--rex-text-field-label-theme-text);
  overflow-wrap: break-word;
  margin-bottom: .5rem;
  padding-left: .75rem;

  &.focus,
  &:focus,
  &.active,
  &:active {
    @include rex-label-ui-active-state();
  }
}

@mixin rex-label-ui-active-state {
  color: var(--rex-text-field-label-theme-active-text, $--rex-text-field-label-theme-active-text);
  outline: none;
}
